/*========== custom button css code here  ==========*/
.custom_btn_link{
    border: 1px solid #9C998F;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.7s;
  }
  
  .custom_btn_link:hover .custom_btn{
    width: 100%;
    animation: buttonWidthAnimation 0.7s ease;
  }
  
  @keyframes buttonWidthAnimation {
    0% {
      width: 80%;
    }
    100% {
      width: 100%;
    }
  }
  
  .custom_btn_link:hover .btn_r_arrow{
    display: none;
  }
  
  .custom_btn_link:hover .btn_t_arrow{
    display: block;
    color: #FFFFFF !important;
  }
  
  .custom_btn{
    font-size: 12px ;
    font-weight: 300 !important;
    border-radius: 13px;
    transition: 0.5s;
    background-color: #FFFFFF; /* Initial background color */
  }
  
  .custom_btn:hover {
    transition: background-color 0.5s ease;
  }